.url {display: flex}
.header {
	font-size: 20px;
	font-weight: bold;
}
.path {
	font-family: monospace;
	font-size: 18px;
}
.method {
	font-family: monospace;
	font-size: 18px;
	width: 100px
}
.label_params {
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	background-color: rgb(255, 114, 104);
	margin-left: 5px;
}
.method_get { background-color:rgb(144, 245, 162) }
.method_put { background-color:rgb(144, 161, 245) }
.method_post { background-color:rgb(90, 186, 255) }
.method_patch { background-color:rgb(191, 144, 245) }
.method_delete { background-color:rgb(235, 165, 133) }
.method_options { background-color:rgb(212, 240, 246) }
.qbrd_label {
	padding-top: 10px;
	font-family: serif;
	font-size: 20px;
	font-weight: bold;
}
.header_param{
	display: flex;
	margin-left: 20px;
	font-size: 18px;
	font-family: monospace;
}
.header_param_key{
	font-weight: italic;
	min-width: 200px;
}
.query_param{
	display: flex;
	margin-left: 20px;
	font-size: 18px;
	font-family: monospace;
}
.form_param{
	display: flex;
	margin-left: 20px;
	font-size: 18px;
	font-family: monospace;
}
.query_param_key{
	font-weight: italic;
	min-width: 100px;
}
.form_param_key{
	font-weight: italic;
	min-width: 100px;
}
.value {
	font-family: monospace;
	width: fit-content;
	block-size: fit-content;
	margin-left: 20px;
	font-size: 18px;
}
.string{ background-color: rgb(234, 123, 153) }
.bytes{ background-color: rgb(235, 165, 133) }
.file{ 
	color: rgb(178, 46, 46);
	background-color: rgb(205, 205, 205);
}
.json{ background-color: azure }
.description {
	margin-left: 20px;
	font-size: 18px;
}
.query_param_default {
	margin-left: 5px;
	font-weight: italic;
	background-color:rgb(144, 245, 162)
}
.form_param_default {
	margin-left: 5px;
	font-weight: italic;
	background-color:rgb(144, 245, 162)
}
.query_param_optional {
	margin-left: 5px;
	font-weight: italic;
	background-color:rgb(90, 186, 255)
}
.form_param_optional {
	margin-left: 5px;
	font-weight: italic;
	background-color:rgb(90, 186, 255)
}
.error{ display: flex; }
.error_status{
	font-weight: bold;
	background-color: #df9f9f;
}
.error_code{
	font-weight: bold;
	width: 200px;
	background-color: #df9f9f;
}
.error_description{
	background-color: #df9f9f;
}
